.grtyoutube-popup {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 99999;
}

.grtyoutube-popup-content {
  margin-top: 150px;
  width: 100%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

.grtyoutube-popup-close {
  position: absolute;
  top: -30px;
  right: 0;
  color: #fff;
  font-size: 25px;
  width: 24px;
  height: 24px;
  cursor: pointer;
}

.grtyoutube-iframe {
  width: 100%;
  height: 680px;
}
@media (max-width: 767px) {
  .grtyoutube-iframe {
    width: 100%;
    height: 350px;
  }
}

.grtyoutube-dark-theme {
  background: rgba(0, 0, 0, 0.85);
}

/* .grtyoutube-dark-theme .grtyoutube-popup-content {
	-webkit-box-shadow: 0px 0px 8px 0px rgba(255,255,255,0.4);
	-moz-box-shadow: 0px 0px 8px 0px rgba(255,255,255,0.4);
	box-shadow: 0px 0px 8px 0px rgba(255,255,255,0.4);
} */

.grtyoutube-dark-theme .grtyoutube-popup-close {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='24' height='24'%3E%3Cpath fill='none' d='M0 0h24v24H0z'/%3E%3Cpath d='M12 10.586l4.95-4.95 1.414 1.414-4.95 4.95 4.95 4.95-1.414 1.414-4.95-4.95-4.95 4.95-1.414-1.414 4.95-4.95-4.95-4.95L7.05 5.636z' fill='rgba(255,255,255,1)'/%3E%3C/svg%3E");
}

.grtyoutube-light-theme {
  background: rgba(255, 255, 255, 0.85);
}

.grtyoutube-light-theme .grtyoutube-popup-content {
  -webkit-box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.4);
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.4);
}

.grtyoutube-light-theme .grtyoutube-popup-close {
  background: url("icon-close-black.png") no-repeat;
}
