@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@300;400;500;600;700&display=swap");

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}

#shopify-section-header {
  z-index: 99 !important;
}
h1,
h2,
h3,
h4 {
  font-family: "Tektur Med";
}

:root {
  --color-black: #000000;
  --color-white: #ffffff;
  --color-primary: #f19128;
  --color-blue: #011733;
  --color-grey: #a9a9a9;
}
button {
  border: 0;
  background-color: transparent;
  padding: 0;
  margin: 0;
}

p {
  font-size: 18px;
  margin-bottom: 30px;
  line-height: 35px;
}

body,
html {
  font-size: 16px;
  min-width: 320px;
  overflow-x: hidden;
  min-height: 100%;
  font-weight: 400;
  font-family: "DM Sans", sans-serif;
  line-height: normal;
  color: #444444;
  background-color: var(--color-white);
}
a {
  text-decoration: none;
}
.container {
  max-width: 1320px !important;
  padding-left: 20px;
  padding-right: 20px;
}

.navbar {
  position: fixed;
  left: 0;
  width: 100%;
  top: 0;
  z-index: 999;
  padding: 30px 0;
  transition: all 0.3s ease;

  .logo {
    transition: all 0.3s ease;
    width: 380px;
  }
  &--fixed {
    background-color: var(--color-blue);
    padding: 16px 0;
    .logo {
      width: 150px;
    }
    .main-btn {
      opacity: 1;
      transition: all 0.3s ease;
      height: 60px;
    }
  }
}
.main-btn {
  min-width: 220px;
  height: 60px;
  background-color: var(--color-primary);
  display: inline-flex;
  align-items: center;
  color: var(--color-white);
  justify-content: center;
  text-align: center;
  font-size: 18px;
  line-height: 31px;
  color: #ffffff;
  font-weight: 400;
  transition: all 0.3s ease;
  padding: 10px 25px;
  border: 0;
  border: 2px solid transparent;
  &:hover {
    background-color: var(--color-white);
    color: var(--color-black);
    border-color: var(--color-black);
  }
  &--blue {
    background-color: var(--color-blue);
    &:hover {
      background-color: var(--color-primary);
      border-color: var(--color-white);
      color: var(--color-white);
    }
  }
}

.whatsapp-us {
  display: inline-flex;
  align-items: center;
  gap: 15px;
  background-color: var(--color-primary);
  color: #ffffff;
  font-size: 20px;
  text-align: center;
  border-radius: 12px;
  padding: 10px 20px;
  position: relative;
  z-index: 1;
  &:hover {
    background-color: #f0810a;
  }
  svg {
    width: 40px;
    height: 40px;
  }
}

.banner {
  background-color: var(--color-blue);
  min-height: 100vh;
  overflow: hidden;
  display: flex;
  img {
    position: absolute;
    bottom: 0;
    left: 0;
    max-width: 100%;
  }
  .container {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    padding-top: 150px;
    padding-bottom: 100px;
  }
  &__content {
    font-size: 70px;
    letter-spacing: 2px;
    line-height: 100px;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: 500;
    font-family: "Tektur Med";
    filter: drop-shadow(4px 6.928px 6.5px rgba(24, 24, 25, 0.49));
    max-width: 600px;
    position: relative;
    &::after {
      display: block;
      content: "";
      width: 142px;
      height: 13px;
      background-color: #f19128;
    }
  }
}

.contact-form {
  position: relative;
  z-index: 2;
  padding: 60px;
  background-color: var(--color-primary);
  max-width: 515px;
  width: 100%;
  flex-shrink: 0;
  h2 {
    font-size: 52px;
    color: #ffffff;
    font-weight: 700;
  }
  .input {
    width: 100%;
    height: 60px;
    background-color: #ffffff;
    border: 0;
    padding: 16px;
    font-size: 16px;
    color: var(--color-black);
    margin-bottom: 16px;
  }
}
.py-50 {
  padding-top: 70px;
  padding-bottom: 70px;
}
.heading-block {
  p {
    font-size: 40px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #f19128;
    font-weight: 500;
    font-family: "Tektur Med";
  }
  h2 {
    font-size: 60px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #174886;
    font-weight: 500;
  }
}

.about {
  padding-bottom: 100px;
  &__graphic {
    position: absolute;
    bottom: 0;
    left: 0;
    max-width: 100%;
  }
}

.ticket {
  background-color: #174886;
  padding-top: 50px;
  h2 {
    font-size: 49px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: 500;
    max-width: 600px;
    padding-bottom: 30px;
  }
  &__wrapper {
    max-width: 800px;
    border-top: 1px solid var(--color-primary);
    padding-top: 25px;
    img {
      width: 32px;
      height: auto;
    }
    div {
      width: 100%;
      p {
        line-height: normal;
      }
      &:first-of-type {
        width: 320px;
        flex-shrink: 0;
      }
    }
  }
  &__price {
    ul li {
      border: 1px solid var(--color-primary);
      height: 60px;
      border: 2px solid #f19128;
      margin-left: -1px;
      font-size: 21px;
      letter-spacing: 1px;
      line-height: 29px;
      color: #ffffff;
      font-weight: 700;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      padding: 0 25px;
      min-width: 180px;
    }
  }
  .cyborg {
    margin-top: -150px;
    display: block;
  }
}

.sponsor {
  padding: 100px 0;
  background-color: var(--color-primary);
  position: relative;
  &::before {
    content: "";
    background-color: #e0e5eb;
    width: 30%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
  }
  h2 {
    font-size: 60px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: 500;
  }
}

.gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
  img {
    border-radius: 20px;
    max-width: 100%;
    height: 100%;
    object-fit: cover;
    width: 100%;
    transition: all 0.2s ease;
    &:hover {
      filter: brightness(110%);
      transform: scale(1.02);
    }
  }
}

.videos {
  img {
    border-radius: 20px;
    transition: all 0.2s ease;
    &:hover {
      filter: brightness(110%);
      transform: scale(1.02);
    }
  }
  .youtube-link {
    position: relative;
    display: block;
    &::after {
      content: "";
      background-image: url('data:image/svg+xml,<svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M20 40C8.9543 40 0 31.0456 0 20C0 8.9543 8.9543 0 20 0C31.0456 0 40 8.9543 40 20C40 31.0456 31.0456 40 20 40ZM17.2438 12.8292C17.1124 12.7416 16.958 12.6948 16.8 12.6948C16.3582 12.6948 16 13.053 16 13.4948V26.5052C16 26.6632 16.0468 26.8176 16.1344 26.949C16.3794 27.3166 16.8762 27.416 17.2438 27.1708L27.0016 20.6656C27.0894 20.607 27.1648 20.5316 27.2234 20.4438C27.4686 20.0762 27.3692 19.5794 27.0016 19.3344L17.2438 12.8292Z" fill="white"/></svg>');
      position: absolute;
      top: calc(50% - 30px);
      left: calc(50% - 30px);
      background-repeat: no-repeat;
      width: 60px;
      height: 60px;
      background-position: center;
      background-size: 100%;
    }
  }
}

.benefits {
  padding-top: 70px;
  padding-bottom: 70px;
  h2 {
    font-size: 49px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #174886;
    font-weight: 500;
    text-align: center;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
  }
  &__wrapper {
    ul {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 15px;
      li {
        display: flex;
        border-radius: 20px;
        background-color: #ffffff;
        border: 1px solid #c2c2c2;
        padding: 20px 30px;
        align-items: center;
        gap: 20px;
        font-size: 20px;
        color: #174886;
        font-weight: 500;
      }
    }
  }
}

.register {
  position: relative;
  z-index: 2;
  padding: 40px 0;
  .contact-form {
    width: 100%;
    max-width: 100%;
    .inputs {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 15px;
    }
    .input {
      margin-bottom: 0;
    }
  }
  .left {
    position: relative;
    min-height: 100px;
  }
  h3 {
    font-size: 53px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #174886;
    font-weight: 500;
  }
}

footer {
  padding: 60px 0;
  padding-top: 170px;
  background-color: #e0e5eb;
  p {
    font-size: 18px;
  }
}
.contact-btns {
  position: fixed;
  z-index: 999;
  right: 20px;
  bottom: 20px;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  a {
    display: inline-flex;
  }
  svg {
    width: 50px;
    height: 50px;
  }
}
.modal {
  .btn-close {
    right: 15px;
    top: 15px;
    z-index: 5;
    background-color: var(--color-white);
  }
  .gallery {
    grid-template-columns: repeat(4, 1fr);
  }
  .videos {
    display: grid;
    gap: 15px;
    justify-content: center;
    grid-template-columns: repeat(4, 1fr);
  }
}
.navbar--fixed .container {
  align-items: center !important;
}
.modal.fade.show {
  display: flex !important;
  align-items: center;
  padding-right: 0 !important;
}

@media (-webkit-min-device-pixel-ratio: 1), (min-resolution: 150dpi) {
  .main-btn {
    height: 60px !important;
  }
  .navbar--fixed .container {
    align-items: center !important;
  }
  .contact-form {
    h2 {
      font-size: 40px !important;
    }
    input {
      height: 60px !important;
    }
  }
  .navbar--fixed .logo {
    width: 110px !important;
  }
}
@media (max-width: 1400px) and (min-width: 1024px) {
  .navbar .logo {
    width: 250px;
  }
  .navbar--fixed .logo {
    width: 150px;
  }
  .banner {
    &__content {
      line-height: normal;
      font-size: 60px;
    }
    .container {
      padding-bottom: 30px;
    }
  }
  .contact-form {
    padding: 40px;
  }
}

@media (max-width: 1024px) {
  p {
    font-size: 20px;
  }
  .main-btn {
    height: 60px;
    min-width: 200px;
    font-size: 18px;
  }
  .banner {
    min-height: 100vh;
    height: 100%;

    &__content {
      font-size: 60px;
      line-height: normal;
      text-align: center;
      margin: 0 auto;
      &::after {
        margin: 30px auto 0;
      }
    }
    .container {
      display: block;
      padding-top: 350px;
    }
    .contact-form {
      margin: 60px auto 0;
    }
  }
  .contact-form {
    h2 {
      font-size: 25px !important;
    }
    .input {
      height: 60px;
    }
  }
  .heading-block {
    h2 {
      font-size: 50px;
    }
  }
  .ticket {
    h2 {
      max-width: 100%;
    }
    &__price ul li {
      height: 60px;
      font-size: 20px;
    }
  }
  .sponsor {
    h2 {
      font-size: 50px;
    }
  }

  .benefits {
    &__wrapper ul {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  .register {
    h3 {
      font-size: 35px;
    }
  }
  footer {
    img {
      height: 60px;
    }
  }
  .modal {
    .gallery {
      grid-template-columns: repeat(3, 1fr);
    }
    .videos {
      grid-template-columns: repeat(3, 1fr);
    }
  }
}

@media (max-width: 767px) {
  .py-50 {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .contact-btns {
    svg {
      width: 30px;
      height: 30px;
    }
  }
  .register .contact-form .inputs {
    grid-template-columns: 1fr;
  }
  .navbar {
    .logo {
      width: 140px;
    }
    &--fixed {
      .logo {
        width: 150px;
      }
    }
    .main-btn {
      min-width: auto;
    }
  }
  .main-btn {
    height: 50px;
    min-width: 150px;
    font-size: 16px;
  }
  .banner {
    &__content {
      font-size: 40px;
    }
    .container {
      padding-top: 170px;
      padding-bottom: 50px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
    }
  }
  .contact-form {
    .input {
      height: 50px;
    }
  }
  .heading-block {
    p {
      font-size: 30px;
    }
    h2 {
      font-size: 45px;
    }
  }
  p {
    font-size: 16px;
    line-height: 30px;
  }
  .about {
    padding-bottom: 50px;
  }
  .ticket {
    h2 {
      font-size: 35px;
    }
    &__price ul li {
      min-width: 160px;
      width: 100%;
    }
    .main-btn {
      width: 100%;
      margin-top: 30px;
    }
  }
  .sponsor {
    padding: 40px 0;
    &::before {
      content: none;
    }
    h2 {
      font-size: 35px;
    }
  }
  .gallery {
    grid-template-columns: 1fr;
  }
  .benefits {
    h2 {
      font-size: 30px;
    }
    &__wrapper ul {
      grid-template-columns: 1fr;
    }
  }
  .contact-form {
    padding: 20px;
  }
  .register {
    margin-bottom: 0;
    padding-bottom: 50px;
    .left::before {
      content: none;
    }
  }
  footer {
    padding-top: 40px;
    padding-bottom: 40px;
    p {
      font-size: 16px;
      line-height: normal;
    }
  }
  .modal {
    .gallery {
      grid-template-columns: repeat(2, 1fr);
    }
    .videos {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}
