@font-face {
    font-family: 'Tektur Med';
    src: url('Tektur-Medium.woff2') format('woff2'),
        url('Tektur-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

